<launch>

  <node respawn="true" pkg="joy" type="joy_node" name="ercr_joy" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
  </node>

  <node name="joystick_thrust_control" pkg="ercr_control" type="joystick_thrust_control.py" output="screen"/>

</launch>